aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
boto3==1.20.7
botocore==1.23.7
chardet==4.0.0
discord.py==1.7.3
idna==3.3
jmespath==0.10.0
multidict==5.2.0
python-dateutil==2.8.2
python-dotenv==0.19.2
s3transfer==0.5.0
six==1.16.0
typing_extensions==4.0.0
urllib3==1.26.7
yarl==1.7.2
